body {
    background-color: #111;
    margin: 0px;
}

main {
    height: 100%;
    font-family: Montserrat;
    display: flex;
    flex-flow: column;
}

hr {
    border-color: #222;
}

ul {
    color: white;
}

header {
    color: white;
    font-family: inherit;
    text-align: center;
    border-bottom: 1px solid #222;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

header a {
    margin: 5px;
    cursor: pointer;
}

header #aHolder {
    padding: 20px;
    display: inline-block;
}

content {
    position: relative;
}

#welcomePage {
    flex: 1;
    background-color: #111;
    position: absolute;
    width: 100%;
    z-index: 5;
}

#mostBasicInfo {
    display: block;
    padding: 100px 50px 100px 50px;
}

#basicInfo {
    font-size: 12px;
}

#logo {
    color: white;
    font-size: 50px;
    font-family: Montserrat;
    margin-left: 15px;
}

.small {
    font-size: 12px;
}

.center {
    text-align: center;
}

.inline {
    display: inline;
}

.des {
    color: white;
    font-family: Montserrat;
    margin-left: 15px;
}

#buttonHld {
    width: 100%;
    text-align: center;
    color: white;
}

#buttonHld button {
    border: none;
    width: 100px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-family: Montserrat;
    background-color: #607d8b;
}




/* no */
#active {
    background-color: #111;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
}

#sorter {
    order: 1;
    background-color: #111;
    height: 50px;
    width: 100%;
}

table {
    color: white;
    border-collapse: collapse;
    margin-top: 20px;
    margin: auto;
}

table th {
    font-weight: normal;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #333;
    text-align: left;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #333;
    border-right: 1px solid #111;
    background-color: #222;
    width: 100px;
}

/*table td:last-child {
    background-color: #111;
    border: none;
}*/