body {
    margin: 0;
    font-family: "Droid Sans", sans-serif;
}

a {
    text-decoration: underline;
    color: lightblue;
    cursor: pointer;
}

main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #5F5F5F;
}

#flexOne {
    max-width: 100%;
    overflow: hidden;
    flex: 1;
    order: 2;
    position: relative;
}

#main-container {
    order: 1;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    height: 100%;
}

#messages-background { 
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

#center-text {
    position: absolute;
    color: white;
    font-size: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#messages {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
}

.message img {
	max-height: 256px;
	max-width: 256px;
    cursor: default !important;
}

.hat {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block !important;
    background-size: 30px 20px;
    margin-right: -50px;
    margin-top: -50px;
    top: 4px;
    left: -27px;
}

.time {
    padding-left: 0.4em;
    font-size: 0.8em;
    padding-top: 0.2em;
    color: grey;
}

.nick {
    color: rgb(100, 100, 192);
    text-shadow: rgb(0, 0, 0) -1px -1px 0px, rgb(0, 0, 0) 1px -1px 0px, rgb(0, 0, 0) -1px 1px 0px, rgb(0, 0, 0) 1px 1px 0px;
}

.message {
    text-shadow: rgb(0, 0, 0) -1px -1px 0px, rgb(0, 0, 0) 1px -1px 0px, rgb(0, 0, 0) -1px 1px 0px, rgb(0, 0, 0) 1px 1px 0px;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: white;
}

.action .messageContent:before,
.action .messageContent:after,
.note .messageContent:before,
.note .messageContent:after,
.general .messageContent:before,
.general .messageContent:after{
    content: ' ** '
}

.info {
    color: red;
}

.note {
    color: #B30000;
}

.general {
    color: #2CE72C;
}

.error {
    color: #FF0000;
    font-weight: bold;
}

.action {
    color: #66B2FF;
}

.captcha {
    font-size:3px;
    line-height:2px;
}

.personal {
    color: RosyBrown;
    font-weight: bold;
}

.personal .nick:before {
    content: '==== ';
    color: RosyBrown;
}

.message div {
    display: inline;
}

#input-bar {
    order: 2;
    position: relative;
    z-index: 3;
    background-color: rgb(58, 58, 58);
    padding-top: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 1px;
}

#input-bar textarea {
    width: calc(100% - 55px);
    height: 18px;
    resize: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 14px;
    background: rgba(20, 20, 20, 0.75);
    color: white;
    border: 1px solid #0C0D0E;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}

#menu-container {
    order: 2;
    z-index: 2;
    width: 0px;
    text-align: center;
    background-color: rgb(17, 17, 17);
    color: white;
    box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px inset, rgba(0, 0, 0, 0.8) 0px 1px 7px 0px, rgba(255, 255, 255, 0.2) 0px -1px 0px 0px inset;
    transition: width .5s;
    border-left: 2px solid #222;
    display: none;
    overflow: hidden;
    flex-flow: column;
}

#menu-container ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#main-container ul li {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #333;
    cursor: pointer;
    text-align: left;
    text-indent: 20px;
    max-height: 200px;
}

#menu-container ul li:hover {
    background-color: #39F;
}

#menu-container ul li span {
    float: right;
    margin-right: 10px;
    font-size: small;
    font-family: Material Icons;
}

#menu-container h3 {
    width: 80%;
    border-bottom: 1px solid #333;
    font-weight: normal;
    text-align: left;
    font-size: 1.3em;
}

#menu-container h2 {
    display: inline;
    font-weight: normal;
    text-align: left;
    font-size: 1em;
}

.mySettings {
    width: 300px;
    display: none;
}

.transparent {
    background-color: #fcfcfc;
    background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}

.toggle input {
    border: none !important;
    box-shadow: none !important;
    width: 50% !important;
    float: right;
}

.toggle div {
    display: inline;
    width: 50%;
}

#userList {
    margin-top: 20px;
    min-width: 300px;
}

#userList .nickContain {
    list-style-type: none;
    cursor: pointer;
    margin-top: 5px;
}

.nickText::before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    background-color: #3498db;
    width: 8px;
    height: 8px;
    opacity: 0;
    margin-right: 4px;
    transition: 0.5s;
}

.nickText::after {
    content: '';
    display: inline-block;
    border-radius: 50%;
    background-color: green;
    width: 8px;
    height: 8px;
    opacity: 0;
    margin-left: 4px;
    transition: 0.5s;
}

.nickText.away::after {
    background-color: orange;
    opacity: 1;
}

.nickText.unavailable::after {
    background-color: red;
    opacity: 1;
}

#userList .nickContain .informer {
    color: lightgrey;
    font-size: 12px;
    font-style: italic;
}

#menu-tabs {
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(34, 34, 34);
    box-shadow: rgba(0, 0, 0, 0.8) 5px 0px 7px 0px;
    margin: 0px;
    width: 300px;
    display: block !important;
}

#menu-tabs span {
    display: inline-block;
    font-size: 25px;
    color: #eee;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    font-family: Material Icons;
    border-radius: 2px;
}

#menu-tabs span:hover {
    animation: fade .2s forwards;
}

#menu-panels {
    overflow-y: auto;
    overflow-x: hidden;
}

#menu-panels .menuPanel {
    display: none;
}

#stylePanels .menuPanel {
    padding: 15px;
    overflow: auto;
}

#stylePanels #goBack {
    text-align: left;
    margin-bottom: 10px;
}

#stylePanels #goBack span {
    cursor: pointer;
}

#stylePanels #goBackArrow:before {
    content: 'arrow_backwards';
    font-family: Material Icons;
    font-size: small;
    vertical-align: middle;
}

#stylePanels #goBackArrow:after {
    content: 'Go back';
    font-family: Montserrat;
    font-size: small;
    margin-left: -50px;
    vertical-align: bottom;
}

#stylePanels img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 2px;
}

#stylePanels img:hover {
    box-shadow: green 0px 0px 0px 3px;
}

@keyframes fade {
    from {
        background-color: #222;
        color: #eee;
    } to {
        background-color: #eee;
        color: #222;
    }
}

#more-tabs {
    width: 150px;
    background-color: white;
    color: black;
    border-radius: 5px 0px 0px 5px;
    font-size: small;
    position: absolute;
    right: 0px;
}

#more-tabs span {
    color: black;
}

.toggle-menu {
    position: absolute;
    background-color: rgb(58, 58, 58);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid black;
    width: 29px;
    right: 0px;
    height: 30px;
    bottom: 3px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgb(0, 0, 0) 0px -1px 0px 0px inset, rgba(0, 0, 0, 0.901961) 0px 3px 10px;
    line-height: 206%;
    text-align: center;
    padding-left: 15px;
    color: white;
    cursor: pointer;
}

.toggle-menu:active{
    bottom: 2px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.2),
	        inset 0px -1px 0px 0px rgba(0,0,0,1),
	        0px 3px 3px rgba(0,0,0,.2);
}

.toggle-menu span::before{
    content: '< ';
}

.toggle-menu span{
    width: 36px;
    left: 6px;
    position: absolute;
}

/*register panel*/

.overlay{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    animation: shade 1s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes shade {
    from {
        background-color: rgba(0,0,0, 0);
    } to {
        background-color: rgba(0,0,0,.5);
    }
}

.panel {
    animation-name: slideOpen;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
    margin: 0 auto;
    background-color: #545454;
    color: black;
    box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px, rgba(0, 0, 0, 0.8) 0px 1px 7px 0px inset, rgba(255, 255, 255, 0.2) 0px -1px 0px 0px;
    border: 4px solid #222;
    text-align: center;
}

@keyframes slideOpen {
    from {
        height: 0px;
    } to {
        height: 335px;
    }
}

.panel header {
    font-size: 30px;
    color: white;
    font-family: Montserrat;
    margin: 15px;
}

.panel input {
    width: 60%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 20px;
    outline: none;
}

.panel #cancel {
    position: relative;
    float: right;
    cursor: pointer;
    font-size: 30px;
    right: 20px;
    top: 13px;
    color: white;
}

/* pm panel */

.pmPanel {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: black;
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
    border: 1px solid grey;
}

.pmPanel header {
    cursor: pointer;
    color: white;
    height: 25px;
    padding: 4px;
}

.pmPanel header .pm-controls {
    position: absolute;
    right: 5px;
}

.pmPanel .messages {
    width: 100%;
    height: calc(100% - 69px);
    overflow-y: scroll;
}

.pmPanel .input-bar {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 10px);
    background-color: grey;
    padding: 5px;
}

.pmPanel .input-bar input {
    width: 100%;
    background-color: rgb(34, 34, 34);
    color: white;
    box-shadow: rgba(255, 255, 255, 0.0980392) 0px 1px 0px, rgba(0, 0, 0, 0.8) 0px 1px 7px 0px inset;
    padding: 4px 0px 5px;
    border: 1px solid #0C0E0E;
    border-radius: 5px;
    outline: none;
}

/* userOptions */

.menuOptions {
    background-color: #333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.menuOptions li {
    height: 15px;
    cursor: pointer;
    list-style: none;
    padding: 2px 2px 2px 2px;
}

.menuOptions li:hover {
    background-color: #39F;
}

/* embed */

.video-overlay {
    position: fixed;
    width: 528px;
    height: 322px;
    z-index: 5;
}

/* chat styles */

.style {
    display: inline-block !important;
    max-width: 100%;
}

.spin {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.rainbow {
    animation-name: rainbow;
    animation-duration: 2s;
    animation-iteration-count: 15;
}

.shake {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: 20;
}

.wave {
    animation-name: wave;
    animation-duration: 1s;
}

.italic {
    transform: skewX(-15deg);
}

.spoil {
    color: #000;
    background-color: #000;
    text-shadow: initial;
}

.spoil:hover {
    color: #FFF;
    background-color: #000;
}

.nlink {
    text-decoration: none;
}

@keyframes wave {
    0% {
        transform: translate(-110px) skewX(30deg);;
    }
    100% {
        transform: translate(0px);
    }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(-9px) rotate(7deg) translateY(-10px);
  }
  10% {
    transform: translateX(-11px) rotate(19deg) translateY(5px);
  }
  20% {
    transform: translateX(12px) rotate(23deg) translateY(-12px);
  }
  30% {
    transform: translateX(13px) rotate(-20deg) translateY(14px);
  }
  40% {
    transform: translateX(-11px) rotate(31deg) translateY(-1px);
  }
  50% {
    transform: translateX(7px) rotate(8deg) translateY(17px);
  }
  60% {
    transform: translateX(10px) rotate(-1deg) translateY(-11px);
  }
  70% {
    transform: translateX(-17px) rotate(33deg) translateY(5px);
  }
  80% {
    transform: translateX(-6px) rotate(9deg) translateY(-5px);
  }
  90% {
    transform: translateX(12px) rotate(-27deg) translateY(30px);
  }
  100% {
    transform: translateX(0px) rotate(0deg) translateY(0px);
  }
}

@keyframes rainbow {
  0% {
    color: rgb(255, 0, 0);
  }
  16.6% {
    color: rgb(255, 255, 0);
  }
  33.2% {
    color: rgb(0, 255, 0);
  }
  49.8% {
    color: rgb(0, 255, 255);
  }
  66.4% {
    color: rgb(0, 0, 255);
  }
  84.3% {
    color: rgb(255, 0, 255);
  }
  100% {
    color: rgb(255, 0, 0);
  }
}

@keyframes shake-hard {
  2% {
    transform: translate(-1px, -5px) rotate(-2.5deg); }
  4% {
    transform: translate(-5px, -8px) rotate(2.5deg); }
  6% {
    transform: translate(4px, 2px) rotate(-0.5deg); }
  8% {
    transform: translate(1px, 6px) rotate(-1.5deg); }
  10% {
    transform: translate(-3px, -6px) rotate(3.5deg); }
  12% {
    transform: translate(10px, 5px) rotate(-2.5deg); }
  14% {
    transform: translate(-5px, 8px) rotate(-0.5deg); }
  16% {
    transform: translate(7px, 6px) rotate(-2.5deg); }
  18% {
    transform: translate(4px, -7px) rotate(1.5deg); }
  20% {
    transform: translate(-2px, 2px) rotate(0.5deg); }
  22% {
    transform: translate(-1px, 9px) rotate(-0.5deg); }
  24% {
    transform: translate(1px, -2px) rotate(0.5deg); }
  26% {
    transform: translate(-7px, -9px) rotate(1.5deg); }
  28% {
    transform: translate(-5px, -2px) rotate(-2.5deg); }
  30% {
    transform: translate(-4px, 7px) rotate(3.5deg); }
  32% {
    transform: translate(8px, 2px) rotate(2.5deg); }
  34% {
    transform: translate(5px, -5px) rotate(0.5deg); }
  36% {
    transform: translate(-8px, -8px) rotate(2.5deg); }
  38% {
    transform: translate(-7px, -2px) rotate(2.5deg); }
  40% {
    transform: translate(8px, 0px) rotate(-1.5deg); }
  42% {
    transform: translate(0px, -2px) rotate(2.5deg); }
  44% {
    transform: translate(-1px, 1px) rotate(3.5deg); }
  46% {
    transform: translate(10px, -5px) rotate(2.5deg); }
  48% {
    transform: translate(-1px, 7px) rotate(0.5deg); }
  50% {
    transform: translate(-8px, -2px) rotate(1.5deg); }
  52% {
    transform: translate(-9px, 8px) rotate(2.5deg); }
  54% {
    transform: translate(2px, 9px) rotate(-2.5deg); }
  56% {
    transform: translate(-2px, 0px) rotate(2.5deg); }
  58% {
    transform: translate(1px, 1px) rotate(-2.5deg); }
  60% {
    transform: translate(10px, -9px) rotate(-0.5deg); }
  62% {
    transform: translate(5px, 4px) rotate(0.5deg); }
  64% {
    transform: translate(2px, -4px) rotate(0.5deg); }
  66% {
    transform: translate(-9px, -7px) rotate(2.5deg); }
  68% {
    transform: translate(-5px, -1px) rotate(0.5deg); }
  70% {
    transform: translate(9px, -1px) rotate(2.5deg); }
  72% {
    transform: translate(8px, 8px) rotate(-1.5deg); }
  74% {
    transform: translate(-1px, 4px) rotate(2.5deg); }
  76% {
    transform: translate(3px, -7px) rotate(1.5deg); }
  78% {
    transform: translate(-7px, 0px) rotate(-2.5deg); }
  80% {
    transform: translate(-5px, 5px) rotate(2.5deg); }
  82% {
    transform: translate(6px, 6px) rotate(-0.5deg); }
  84% {
    transform: translate(10px, 8px) rotate(-0.5deg); }
  86% {
    transform: translate(4px, 10px) rotate(-0.5deg); }
  88% {
    transform: translate(-5px, -9px) rotate(-1.5deg); }
  90% {
    transform: translate(-8px, 9px) rotate(1.5deg); }
  92% {
    transform: translate(6px, 6px) rotate(-1.5deg); }
  94% {
    transform: translate(-3px, -4px) rotate(-1.5deg); }
  96% {
    transform: translate(6px, -5px) rotate(0.5deg); }
  98% {
    transform: translate(10px, 4px) rotate(-0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); }
}

.banlist{
    position:absolute;
    background-color:#34495e;
    padding:15px;
}

.banlist div{
    overflow-y:scroll;
    max-height:400px;
    padding:10px;
    text-align:center;
}

.banlist table{
    border:solid 1px black;
    border-collapse: collapse;
}

.banlist table th{
    border:1px black solid;
}

.banlist table td{
    border-right:1px black solid;
    border-bottom:1px black solid;
    max-width:200px;
    word-wrap:break-word;
}

.typing::before {
    opacity: 1;
}

.unreadPM::after {
    opacity: 1;
}

.spoilerImg img {
    -webkit-filter: brightness(-200%); /* Safari */
    filter: brightness(-200%);
}

.spoilerImg img:hover {
    -webkit-filter: brightness(100%); /* Safari */
    filter: brightness(100%);
}

/* Cursor Stuff */

#cursor-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.cursor { 
    position: absolute;
    transition: 0.1s;
    opacity: 0.6;
    height: 19px;
    width: 13px;
    max-height: 32px;
    max-width: 32px;
}

.cursor[data-nick]::after {
    text-shadow:
     1px 0px 0 #000,
    -1px 0px 0 #000,
     0px 1px 0 #000,
     0px -1px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    color: #FFF;
    content: attr(data-nick);
}

.cursor > img {
    max-height: 32px;
    max-width: 32px;
}

.myCursor {
    z-index: 1;
    opacity: 1;
    transition: none !important;
}

.myCursor::after {
    display: none !important;
}

:read-write {
    font-family: 'Droid Sans';
}

#qoute {
    background: #111;
    padding: 4px;
}